@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap')
	;

body {
	background: #74ebd5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ACB6E5, #74ebd5);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label {
	font-family: Source Sans Pro;
	font-weight: 600;
	font-size: 24px;
	margin: 0.4rem;
	display: inline-block;
}

.whitecolor {
	color: white;
}
/* .dash-toolbar {
  background: #3E5151;  fallback for old browsers
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #DECBA4, #3E5151); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+


} */
/* .button {
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: #CFE2F7;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black, 5px
    -5px 0 black;
  transition: 500ms ease-in-out;
} */

/* .button:hover {
  background-color: #CD6298;
  box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.button:focus {
  outline: none;
} */
.dash-toolbar {
	background: black;
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); Chrome
	10-25, Safari 5.1-6 background : linear-gradient( to right, #ACB6E5,
	#74ebd5);
	/* z-index: -1;*/
	background: transparent;
}

/* CSS */
.button-81 {
	background-color: #333333;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle", -apple-system, system-ui, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-81:hover {
	background-color: black;
	color: white;
}

@media ( min-width : 768px) {
	.button-81 {
		font-size: 1.125rem;
		padding: 1rem 2rem;
	}
}